$darkAzure: #001520;
$azure: #002332;
$etherLight: #48d0e0;
$ghost: #f0f0f2;
$darkGrey: #231F20;

$primary: $darkGrey;
$secondary: #002332;
$info: $etherLight;

@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
